body {
    background-color: rgb(230, 192, 65, 80%);
    border: 15px solid black;
    padding: 10px;
    min-height: 600px;
}

.header {
    margin-bottom: 100px;
}

.header h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    border: 5px solid white;
    width: 40%;
    background-color: black;
    font-size: 60px;
    margin: auto;
}

.header div {
    width: 65%;
    margin: auto;
    text-align: center;
}

.header p {
    width: 100%;
    text-align: center;
    font-size: 32px;
    background-color: white;
    border: 5px solid black;
}

.logo {
    position: absolute;
    top: 50px;
    left: 70px;
    width: 10%;
    border: 5px solid black;
    background-color: white;
}

.timer {
    color: black;
    font-size: 40px;
    background-color: white;
    border: 5px solid black;
    padding: 5px;
    position: absolute;
    top: 100px;
    right: 70px;
}

.buttonDiv {
    margin: auto;
    width: fit-content;
}


.btn, .submitBtn, .highscoreBtn, .returnToQuizBtn {
    font-size: 32px;
    background-color: white;
    color: black;
    border: 5px solid black;
    cursor: pointer;
    margin: 20px;
}

.btn:hover, .submitBtn:hover, .highscoreBtn:hover, .returnToQuizBtn:hover{
    background-color: rgb(182, 182, 182);
    transform: translateY(4px);
}

.stage {
    margin: auto;
    width: 70%;
    border: 5px solid black;
    margin-bottom: 10px;
    background-color: rgb(255, 196, 0);
}

.scoreDiv {
    margin: auto;
    width: 50%;
    border: 5px solid black;
    padding: 20px;
    background-color: rgb(255, 196, 0);
}

.scoreDiv h2 {
    text-align: center;
}
.hide {
    display: none;
}

#message {
    margin-left: 10px;
}

.highscoresDiv {
    text-align: center;
    margin: auto;
    width: 50%;
    border: 5px solid black;
    padding: 20px;
    background-color: rgb(255, 196, 0);
}